In [1]:
from pymongo import MongoClient

# Create a MongoClient for running the MongoDB instance
client = MongoClient('mongodb://mongodb:mongodb@localhost:27017')

# Get a list of the names of all databases on the connected server
db_list = client.list_database_names()
print(db_list)

['admin', 'config', 'honeypot', 'local', 'workshop_db']

In [2]:
# List all collections in all databases
for db_name in db_list:
    db = client[db_name]
    print(f'Database: {db_name}')

    # List all collections in the current database
    collection_list = db.list_collection_names()
    for collection_name in collection_list:
        print(f'  Collection: {collection_name}')

Database: admin
  Collection: system.users
  Collection: system.version
Database: config
  Collection: system.sessions
Database: honeypot
  Collection: sample
  Collection: system.buckets.sample
  Collection: system.views
Database: local
  Collection: startup_log
Database: workshop_db
  Collection: workshop_col

In [3]:
# Access the 'honeypot' database
db = client['honeypot']

# Access the 'sample' collection
collection_sample = db['sample']

# Print the first document in the 'sample' collection
print("\nFirst document in 'sample' collection:")
print(collection_sample.find_one())

First document in 'sample' collection:
{'date': datetime.datetime(2023, 5, 23, 6, 40, 46), 'ssh.sessionid': 'chm5vqsi5nlg00c2nekg', 'type': 'password-authentication', 'source-ip': '218.92.0.39', 'sensor': 'services', 'destination-port': 22, 'ssh.username': 'root', 'ssh.password': 'linux1', 'category': 'ssh', 'token': 'chm5veci5nlg00c2neig', 'destination-ip': '172.18.0.4', '_id': ObjectId('646cf6ffbdfec4640b31b4f3'), 'source-port': 39314}

In [11]:
# Access the 'workshop_db' database
db = client['workshop_db']

# Access the 'test' collection
col = db['test']

# Insert a document in a collection
new_document = {"name": "Test User", "email": "test@example.com", "status": "active"}
col.insert_one(new_document)
print("\nInserted a new document into 'test'.")

Inserted a new document into 'test'.

In [12]:
# Print the first document in the 'test' collection
print("\nFirst document in 'test' collection:")
print(col.find_one())

First document in 'test' collection:
{'_id': ObjectId('64ef8226fa452201ac8872e1'), 'name': 'Test User', 'email': 'test@example.com', 'status': 'active'}

In [13]:
# Inserting multiple new documents into the 'test' collection
new_documents = [
    {"item": "apple", "price": 1.2},
    {"item": "banana", "price": 0.8},
    {"item": "cherry", "price": 1.5}
]
col.insert_many(new_documents)
print("\nInserted multiple new documents into 'test'.")

Inserted multiple new documents into 'test'.

In [14]:
# Print all documents in the 'test' collection
print("\nFirst document in 'test' collection:")
print(col.find())

First document in 'test' collection:
<pymongo.cursor.Cursor object at 0x7efc31063d50>

In [15]:
for doc in col.find():
    print(doc)

{'_id': ObjectId('64ef8226fa452201ac8872e1'), 'name': 'Test User', 'email': 'test@example.com', 'status': 'active'}
{'_id': ObjectId('64ef8233fa452201ac8872e2'), 'item': 'apple', 'price': 1.2}
{'_id': ObjectId('64ef8233fa452201ac8872e3'), 'item': 'banana', 'price': 0.8}
{'_id': ObjectId('64ef8233fa452201ac8872e4'), 'item': 'cherry', 'price': 1.5}

In [16]:
[x for x in col.find()]

[{'_id': ObjectId('64ef8226fa452201ac8872e1'),
  'name': 'Test User',
  'email': 'test@example.com',
  'status': 'active'},
 {'_id': ObjectId('64ef8233fa452201ac8872e2'), 'item': 'apple', 'price': 1.2},
 {'_id': ObjectId('64ef8233fa452201ac8872e3'), 'item': 'banana', 'price': 0.8},
 {'_id': ObjectId('64ef8233fa452201ac8872e4'), 'item': 'cherry', 'price': 1.5}]

In [17]:
import pandas as pd
pd.DataFrame(col.find())

,_id,name,email,status,item,price
0,64ef8226fa452201ac8872e1,Test User,test@example.com,active,NaN,NaN
1,64ef8233fa452201ac8872e2,NaN,NaN,NaN,apple,1.2
2,64ef8233fa452201ac8872e3,NaN,NaN,NaN,banana,0.8
3,64ef8233fa452201ac8872e4,NaN,NaN,NaN,cherry,1.5